.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-menu-nav {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    margin-top: 24px;
    margin-right: 76px;
    margin-bottom: 24px;
    margin-left: 332px;
}
.contact {
    font-style: normal;
    display: flex;
    gap: 40px;
    margin-top: 24px;
    margin-right: 156px;
    margin-bottom: 24px;
    margin-left: 332px;
}

.contact-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.solutions {
    background: #2e2f42;
    width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 292;
    align-items: center;
}
.effective-solution {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    flex-wrap: wrap;
    padding-right: 316px;
    padding-left: 316px;
}

.order-button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 169px;
    height: 56px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 48px;
}

.order-button:hover {
    background: #404bbf;
}
.order-button:focus {
    background: #404bbf;
}

ul {
    list-style-type: none;
}

.our-qualifacation {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: none;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background-color: #F4F4FD;
}
.our-team {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.personal {
    background-color: #ffffff;
}
.our-portfolio {
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.footer-menu {
    background: #2e2f42;
}

.footer-logo-studio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.p-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.link {
    color: #2e2f42;
}
.link:hover {
    color: #404bbf;
}
.link:focus {
    color: #404bbf;
}

.link:active {
    color: #404bbf;
}
.contact-link {
    color: #434455;
}
.contact-link:hover {
    color: #404bbf;
}
.contact-link:focus {
    color: #404bbf;
}
a {
    text-decoration: none;
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.images {
    display: block;
}
.container {
    width: 1158px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    margin-top: 24px;
    margin-right: 76px;
    margin-bottom: 24px;
    margin-left: 156px;
    width: 115px;
    height: 24px;
}
.header-menu {
    display: inline;
}
.qualifacation {
    display: inline;
}
.strategy {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
}
.punctuality {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
}
.diligence {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
}
.technologies {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
}


